

<section class="hero-banner">
  <div class="container">
    <div class="row no-gutters align-items-center pt-60px">
      <div class="col-5 d-none d-sm-block">
        <div class="hero-banner__img">
          <img class="img-fluid" src="assets/pulsaciones.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
        <div class="hero-banner__content">
          <h1>Pulsaciones</h1>
          <p>El pulso es un reflejo de la frecuencia cardiaca, que es el número de latidos que tiene el corazón por minuto.<br>
            Habitualmente se toma el pulso en diez segundos y se multiplica por seis.<br>
            El pulso máximo a la que podría llegar una persona no debe sobrepasar el valor de 220 pulsaciones menos la edad de esa persona.</p>
          
        </div>
      </div>
    </div>
  </div>
</section>